@media only screen and (min-width: 1200px) {
  .ui.container {
    margin-left: 1em !important;
  }
}

.ui.container {
  margin-top: 1em;
}

.wp-reminder-add-link {
  color: green !important;
  cursor: pointer;
}

.wp-reminder-delete-link {
  color: red !important;
  cursor: pointer;
}

.wp-reminder-edit-link {
  cursor: pointer;
}

.wp-reminder-small {
  font-size: 13px;
}

.wp-reminder-disabled {
  pointer-events: none;
  color: grey !important;
}