.wp-reminder-add-link {
  color: green !important;
  cursor: pointer;
}

.wp-reminder-delete-link {
  color: red !important;
  cursor: pointer;
}

.wp-reminder-edit-link {
  cursor: pointer;
}

.wp-reminder-small {
  font-size: 13px;
}