// reset wordpress styles

div.error {
  border-left-color: inherit !important;
  background: 0 !important;
  border: 0 !important;
  border-left-width: medium !important;
  box-shadow: none !important;
}

$red: rgba(219,40,40,1);
$red_fade: rgba(219,40,40,0.5);
$green: #21ba45;
$indigo: rgba(99,102,241,1);
$indigo_fade: rgba(99,102,241,0.5);

@media only screen and (max-width: 1400px) {
  .ui.container {
    width: 95% !important;
  }
}

.ui.container {
  margin-top: 1em;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.wp-reminder-text {
  &.green {
    color: $green;
  }
  &.red {
    color: $red;
  }
  &.primary {
    color: $indigo;
  }
}

.wp-reminder-submit-container {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  .wp-reminder-btn-text {

    width: 35%;
    margin-right: 10px;
    text-align: end;
    float: right;
    animation: fadeOut 4s linear 1 forwards;

    &.error {
      color: $red;
    }
    &.success {
      color: $green;
    }
  }
}


.wp-reminder-link {
  cursor: pointer;
}

.wp-reminder-add-link {
  color: $green !important;
  cursor: pointer;
}

.wp-reminder-delete-link {
  white-space: nowrap;
  color: $red_fade !important;
  cursor: pointer;

  &:hover {
    color: $red !important;
  }
}

.wp-reminder-edit-link {
  white-space: nowrap;
  color: $indigo_fade !important;
  cursor: pointer;

  &:hover {
    color: $indigo !important;
  }

}

.wp-reminder-small {
  font-size: 13px;
}

.wp-reminder-disabled {
  pointer-events: none;
  color: grey !important;
}

.wp-reminder-float-right {
  float: right;
}

.wp-reminder-float-left {
  float: left;
}