.wp-reminder-container {

  h4 {
    input {
      border: 0 !important;
      font-size: 28px !important;
      margin-top: 0 !important;
      padding-bottom: 4px;
      text-align: center !important;
    }
  }
}