@import "defaults";

.remind-me-header-container {
  height: 50px;
}

.remind-me-shortcode-container {
  width: 50%;
  float: right;
}

.remind-me-description {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
}