@import "defaults";

.wp-reminder-header-container {
  height: 50px;
}

.wp-reminder-shortcode-container {
  width: 50%;
  float: right;
}

.wp-reminder-description {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
}