@import "defaults";

.wp-reminder-registration-container {
  padding-top: 1em;

  .hidden {
    display: none;
  }

  span {
    font-size: 14px;
  }

  .wp-reminder-email-input input,label {
    display: block;
  }

  .wp-reminder-email-input {
    input {
      width: 100%
    }
  }

  .wp-reminder-gdpr-check {
    padding-top: 1em;
  }

  .wp-reminder-form-submit {
    button {
      float: right;
      padding: 0.5em;
    }
  }

  .error {
    input {
      border-color: red;
    }
    color: red;
  }

  .error-text {
    color: indianred;
    font-size: 14px;
    font-weight: bold;
  }
}

.wp-reminder-message {
  width: 100%;
  padding: 1em;
  border-radius: 3px;
  margin-top: 1em;
  margin-bottom: 1em;
  &.error {
    border: medium solid red !important;
    color: red !important;
    background: #FFCEC9 !important;
  }
  &.success {
    border: medium solid green;
    color: green;
    background: #BCE4CB;
  }
}