@import "defaults";

.wp-reminder-template-preview {

  height: 180px;
  filter: blur(1px);
  overflow: hidden;
  margin-bottom: 25px;

  &:hover {
    filter: blur(0);
  }

}

.cards {
  margin-top: 0 !important;
}