<h1 class="ql-align-center">Company XY</h1>
<p class="ql-align-center"><br></p>
<p class="ql-align-center">Thank you for subscribing our reminders:</p>
<p class="ql-align-center">${event_list}.</p>
<p class="ql-align-center"><br></p>
<p class="ql-align-center">To finish you subscription, please click this link: ${confirm_link}.</p>
<p class="ql-align-center"><br></p>
<p class="ql-align-center">
    <em>If you haven't subscribed to our service, you can delete this email. Your subscription is only activated after clicking the above link.</em>
</p>
<p class="ql-align-center"><br></p>
<p class="ql-align-center">--</p>
<p class="ql-align-center">Company XY | Main street 1 | Chigago</p>
<p class="ql-align-center">${unsubscribe_link}</p>